BasedOnStyle: Microsoft

ColumnLimit: 100
AccessModifierOffset: -4

AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

SeparateDefinitionBlocks: Always

PointerAlignment: Left

AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All

AlignArrayOfStructures: Right

AlwaysBreakTemplateDeclarations: Yes

QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'constexpr', 'volatile', 'type', 'const']