Diagnostics:
  ClangTidy:
    Add: "*"
    Remove:
      - "llvmlibc-*"
      - "fuchsia-*"
      - "altera-*"
      - "bugprone-easily-swappable-parameters"
      - "readability-identifier-length"
      - "modernize-use-trailing-return-type"